.qrcode {
	width: Min(30rem, 80%);
	height: 45rem;
	background-color: map-get($colors, 'clr-primary-white');
	border-radius: 2rem;
	text-align: center;
	&__image {
		height: 50%;
		padding: 2rem;
	}
	&__title {
		margin: 2rem 0;
		color: map-get($colors, 'clr-primary-dark-blue');
		font-size: 2rem;
	}
	&__description {
		color: map-get($colors, 'clr-primary-grayish-blue');
		font-size: 1.5rem;
	}
}
