$ff-primary: 'Outfit', sans-serif;

$colors: (
	'clr-primary-white': #ffffff,
	'clr-primary-light-gray': #d6e2f0,
	'clr-primary-grayish-blue': hsl(220, 15%, 55%),
	'clr-primary-dark-blue': hsl(218, 44%, 22%),
);

$fs-board: (
	'10': 62.5%,
	'9': 56.25%,
	'8': 50%,
	'7': 43.75%,
);
